body {
    background-color: white;
    color: #70757A;
    font-family: Arial, Helvetica, sans-serif;
}

body a:hover {
    text-decoration: underline;
    color: #70757A; 
}

#top {
    display: flex;
    justify-content: space-between;
}

#top-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

#top-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

#logo, #search, #under-search, #ribbon {
    display: flex;
    justify-content: center;
}

#logo {
    margin-top: 20vh;
}

#search input {
    padding: 7px 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: .08rem solid #EDEDED;
    border-radius: 50px;
    width: 600px;
    height: 40px;
}

#under-search {
    display: flex;
    justify-content: center;
}

#gs {
    padding: 5% auto;
    background-color: #F2F2F2;
    border-color: #fff;
    outline: none;
    box-shadow: none;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
}

#ifl {
    padding: 5% auto;
    background-color: #F2F2F2;
    border-color: #fff;
    box-shadow: none;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
}

#ribbon {
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

#sub-footer {
    margin-bottom: 22vh;
}

#footer {
    background-color: #F2F2F2;
    color: #70757A;
    padding: 20px 15px 7px 15px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 98%;
}

#f1 {
    float:left;
    text-decoration: none;
    }


#f2 {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-content: center;
}

#f3 {
    float: right;
    text-decoration: none;
}